<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OpoleyesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="OpoLeyes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Opoleyes"
        android:screenOrientation="portrait"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Opoleyes.Splash" />

        <!-- Default launcher alias: Balance (Balanza) -->
        <activity-alias
            android:name=".BalanceAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="OpoLeyes"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Alternate launcher alias: Letters OL -->
        <activity-alias
            android:name=".OlAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ol"
            android:label="OpoLeyes"
            android:roundIcon="@mipmap/ic_launcher_ol_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Alternate launcher alias: Gavel (Martillo de juez) -->
        <activity-alias
            android:name=".GavelAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gavel"
            android:label="OpoLeyes"
            android:roundIcon="@mipmap/ic_launcher_gavel_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
